<footer class="page__footer footer">
  <article class="footer__logo">
    <div class="logo--monochrome">
      <img
        width="300"
        height="85"
        loading="lazy"
        class="logo--monochrome"
        src="/images/logo_monochrome.svg"
        alt="Монохромный логотип Ноль Кельвин"
      />
      <a class="link--block" href="/"></a>
    </div>
  </article>

  <article class="footer__contacts">
    <ul class="list__wrapper">
      <li class="list__node list__node--title">
        <h3><a href="/contacts/">КОНТАКТЫ</a></h3>
      </li>
      <li class="list__node">
        <a href="mailto:info@zerokelvin.ry">info@zerokelvin.ru</a>
      </li>
      <li class="list__node">
        <a href="tel:+79222972203">+7 (922) 297-22-03</a>
      </li>
    </ul>
  </article>

  <article class="footer__help">
    <ul class="list__wrapper">
      <li class="list__node list__node--title">
        <h3>ПОМОЩЬ</h3>
      </li>
      <li class="list__node">
        <a href="/delivery/">Доставка и оплата</a>
      </li>
      <li class="list__node">
        <a href="/privacy/publicoffer.pdf">Публичная оферта</a>
      </li>
      <li class="list__node">
        <a href="/privacy/datapolicy.pdf">
          Политика обработки персональных данных
        </a>
      </li>
    </ul>
  </article>

  <article class="footer__menu">
    <ul class="list__wrapper">
      <li class="list__node list__node--title">
        <h3>МЕНЮ</h3>
      </li>
      <li class="list__node">
        <a href="/catalog/">Каталог</a>
      </li>
      <li class="list__node">
        <a href="/blog/">Статьи</a>
      </li>
      <li class="list__node">
        <a href="/coming/">Лекции</a>
      </li>
      <li class="list__node">
        <a href="/profile/">Личный кабинет</a>
      </li>
    </ul>
  </article>
  <article class="footer__social">
    <ul class="list__wrapper list__social">
      <li class="list__node list__node--title">
        <h3>СОЦ.СЕТИ</h3>
      </li>
      <li class="list__node">
        <a href="{{ social.instagram }}">instagram</a>
      </li>
      <li class="list__node">
        <a href="{{ social.vk }}">Вконтакте</a>
      </li>
    </ul>
  </article>
  <article class="subfooter">
    <article class="subfooter__company">ИП Бондаревская А.С.</article>
    <article class="subfooter__сopyright">
      © 2021 Ноль Кельвин. Все права защищены.
    </article>
    <article class="subfooter__vilfer">
      <div class="vilfer__logo">
        <img
          src="/images/madebyvilfer.jpg"
          width="50px"
          height="33px"
          alt="Made By Vilfer"
        />
        <a class="link--block" href="http://instagram.com/vilfer.blog/"></a>
      </div>
    </article>
  </article>
</footer>
