<footer class="page__footer footer">

    <div class="footer__links">
        <div class="footer__link"><a href="/">Главная</a></div>
        <div class="footer__link"><a href="">Каталог</a></div>
        <div class="footer__link"><a href="">Оплата и доставка</a></div>
        <div class="footer__link"><a href="">О нас</a></div>
        <div class="footer__link"><a href="">Блог</a></div>
        <div class="footer__link"><a href="">Контакты</a></div>
        <div class="footer__link"><a href="">Политика обработки <br> персональных данных</a></div>
    </div>

    <div class="footer__social">
      <a href="" class="social__icon icon__vk"></a>
      <a href="" class="social__icon icon__instagram"></a>
    </div>

    <div class="footer__offer">
    <p class="offer__text">Подпишись и получи 10% скидку</p>
      <form action="" class="offer__form">
        <input class="form__input" type="email" placeholder="Ваш Email">
        <button class="form__submit" type="submit">Подписаться</button>
      </form>
    </div>

</footer>
