<footer class="page__footer footer">

  <ul class="footer__menu">
    <li class=""><a class="link footer__menu__link" href="">Главная</a></li>
    <li class=""><a class="link footer__menu__link" href="">Каталог</a></li>
    <li class=""><a class="link footer__menu__link" href="">Оплата и доставка</a></li>
    <li class=""><a class="link footer__menu__link" href="">О нас</a></li>
    <li class=""><a class="link footer__menu__link" href="">Статьи</a></li>
    <li class=""><a class="link footer__menu__link" href="">Контакты</a></li>
  </ul>

  <div class="footer__social">
    <a class="social__logo" href="/"><img class="logo--black" src="/images/logo_black.svg" alt=""></a>
    <a href="" class="social__icon icon__vk"></a>
    <a href="" class="social__icon icon__instagram"></a>
  </div>

  <div class="footer__offer">
    <form action="" class="offer__form" autocomplete="on">
      <label for="offer__input">Дарим скидку 10% на первый заказ</label>
      <input class="form__input" id="offer__input" type="email" placeholder="Ваш Email">
      <button class="form__submit" type="submit">Подписаться</button>
    </form>
  </div>

</footer>