<nav class="nav">
  <div class="nav__header">
  <button class="toggle-mode nav__icon icon__sun"></button>
    <div class="nav__logo"><a href="/" class="logo"></a></div>
    <div class="nav__shop">
        <a href="" class="nav__icon icon__favorite"></a>
        <a href="" class="nav__icon icon__profile"></a>
        <a href="" class="nav__icon icon__cart"></a>
    </div>
  </div>
  <div class="nav__footer">
    <div class="nav__links">
        <a href="" class="nav__link">Каталог</a>
        <a href="" class="nav__link">Оплата и доставка</a>
        <a href="" class="nav__link">О нас</a>
        <a href="" class="nav__link">Блог</a>
        <a href="" class="nav__link">Контакты</a>
    </div>
  </div>
</nav>

<nav class="nav-mobile">
  <button class="toggle-mode nav__icon icon__sun"></button>
    <div class="nav__logo"><a href="/" class="logo"></a></div>
    <div class="nav__shop">
        <a href="" class="nav__icon icon__favorite"></a>
        <a href="" class="nav__icon icon__profile"></a>
        <a href="" class="nav__icon icon__cart"></a>
    </div>
    <div class="nav-mobile__links">
        <a href="" class="nav__link">Каталог</a>
        <a href="" class="nav__link">Оплата и доставка</a>
        <a href="" class="nav__link">О нас</a>
        <a href="" class="nav__link">Блог</a>
        <a href="" class="nav__link">Контакты</a>
    </div>
</nav>

