<nav class="nav">
  <div class="nav__header">
    <div class="theme-selector">
      <button class="toggle-mode nav__icon icon__sun"></button>
    </div>
    <div class="nav__logo">
      <img
        width="320"
        height="90"
        class="logo"
        src="/images/logo.svg"
        alt="Логотип Ноль Кельвин"
      />
      <a class="link--block" href="/"></a>
    </div>
    <div class="nav__shop">
      <div class="nav__icon icon-heart">
        <img
          width="30"
          height="30"
          class="icon"
          src="/images/icons/heart.svg"
          alt="Сердце"
        />
        <a class="link--block" href="/coming/"></a>
      </div>
      <div class="nav__icon icon-profile">
        <img
          width="30"
          height="30"
          class="icon"
          src="/images/icons/profile.svg"
          alt="Силуэт котика"
        />
        <a class="link--block" href="/coming/"></a>
      </div>
      <div class="nav__icon icon-cart">
        <img
          width="30"
          height="30"
          class="icon"
          src="/images/icons/cart.svg"
          alt="Корзина"
        />
        <a class="link--block" href="/cart/"></a>
      </div>
    </div>
  </div>
  <div class="nav__footer">
    <div class="nav__links">
      <a href="/catalog/" class="nav__link">Каталог</a>
      <a href="/delivery/" class="nav__link">Доставка и оплата</a>
      <a href="/about/" class="nav__link">О нас</a>
      <a href="/blog/" class="nav__link">Статьи</a>
      <a href="/coming/" class="nav__link">Лекции</a>
      <a href="/contacts/" class="nav__link">Контакты</a>
    </div>
  </div>
</nav>

<nav class="nav-mobile">
  <a href="/" class="nav__logo">
    <img class="logo-mobile" src="/images/logo_mobile.svg" alt="" />
  </a>
  <div class="nav__shop">
    <div class="nav__icon icon-heart">
      <img
        width="30"
        height="30"
        class="icon"
        src="/images/icons/heart.svg"
        alt="Сердце"
      />
      <a class="link--block" href="/coming/"></a>
    </div>
    <div class="nav__icon icon-profile">
      <img
        width="30"
        height="30"
        class="icon"
        src="/images/icons/profile.svg"
        alt="Силуэт котика"
      />
      <a class="link--block" href="/coming/"></a>
    </div>
    <div class="nav__icon icon-cart">
      <img
        width="30"
        height="30"
        class="icon"
        src="/images/icons/cart.svg"
        alt="Корзина"
      />
      <a class="link--block" href="/cart/"></a>
    </div>
  </div>
  <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
    </label>
    <ul class="menu__box">
      <li>
        <a class="menu__item" href="/catalog/">Каталог</a>
      </li>
      <li>
        <a class="menu__item" href="/delivery/">Доставка и оплата</a>
      </li>
      <li>
        <a class="menu__item" href="/about/">О нас</a>
      </li>
      <li>
        <a class="menu__item" href="/blog/">Статьи</a>
      </li>
      <li>
        <a class="menu__item" href="/coming/">Лекции</a>
      </li>
      <li>
        <a class="menu__item" href="/contacts/">Контакты</a>
      </li>
    </ul>
  </div>
</nav>
