.page__not_found {
  height: 50vh;
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr;
  padding: 0 1rem;
}

.not_found__title {
  font-size: 5rem;
}
