.page__constuctor {
  max-width: 800px;
  margin: auto;
  padding: 0 1vw;
  padding-bottom: 1em;
}
.constructor__step__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
  place-content: center;
  column-gap: 2em;
  row-gap: 2em;
  padding: 0;
  margin: 0;
}
.constructor__step__item {
  list-style-type: none;
  position: relative;
}

.constructor__step__item__isChecked {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.constructor__step__item__image {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.constructor__step__item__name {
  margin: 0;
  padding: 0;
  margin-top: 1em;
}
.constructor__step__item__price {
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
}

.constructor__step__item__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}
.constructor__step__item__checkbox:checked ~ .constructor__step__item__image {
  outline: 6px solid rgb(2, 156, 177);
}
.constructor__step__item__checkbox:checked:hover
  ~ .constructor__step__item__image {
  outline: 6px solid rgb(2, 156, 177);
}
.constructor__step__item:hover .constructor__step__item__image {
  outline: 8px solid rgb(3, 224, 255);
}
.constructor__calculator {
  position: -webkit-sticky;
  position: sticky;
  bottom: -5px;
  max-width: max-content;
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 0.5em 1em;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  margin-top: 1em;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1em;
}
@media screen and (max-width: 800px) {
  .constructor__calculator {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    max-width: 350%;
  }
}
.constructor__calculator__totalprice__area {
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .constructor__calculator__totalprice__area {
    justify-content: center;
  }
}
.constructor__calculator__submit {
  text-align: center;
}
.constructor__calculator__submit__button {
  display: inline;
}
.constructor__calculator__submit__annotation {
  font-size: 0.6em;
  font-style: italic;
  margin: 0;
  margin-top: 0.3em;
}
