.page__cart {
    width: 100%;
    padding: 0 10vw;
}

.cart {
    width: 100%;
    padding: 0;
}

.cart-element {
    width: 100%;
    display: flex;
    list-style: none;
    align-content: center;
}

.cart-element__image {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

/* .cart-element__price {} */

.cart-element__category {
    opacity: 0.5;
}

/* .cart-element__delete {} */