.page__catalog {
  max-width: 80%;
  margin: auto;
  padding: 1rem;
}
@media screen and (max-width: 800px) {
  .page__catalog {
    max-width: 100%;
  }
}
.catalog__filter {
  padding: 1rem 0;
}
.filter__list {
  margin: 0;
  padding: 0;
  grid-template-rows: 1fr;
  column-gap: 1em;
}
.filter__list__node {
  list-style-type: none;
  display: inline-block;
  color: white;
  padding: 0.3em 0.8em;
  border-radius: 8px;
  max-width: min-content;
}
.filter__list__node:hover {
  opacity: 0.8;
  cursor: pointer;
}

.catalog {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: none;
  padding-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .catalog {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2rem;
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
}

.catalog-item {
  width: 100%;
  position: relative;
  height: 100%;
}
