.page__block {
  width: 100%;
  height: 100%;
  padding: 0 1vw;
  margin: 1em 0;
}

.swiper-banner {
  padding: 0 0;
  margin: 0;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main__title {
  margin: 1em 0;
  font-size: 2em;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.main__category {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 150px;
  gap: 10px 10px;
}

@media screen and (max-width: 800px) {
  .main__category {
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: none;
    grid-auto-rows: 150px;
    justify-content: center;
    gap: 30px 30px;
  }
}

@media screen and (max-width: 330px) {
  .main__category {
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    justify-content: center;
    gap: 30px 30px;
  }
}

.category__block {
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}

@media screen and (max-width: 800px) {
  .category__block {
    padding: 0.5em;
  }
}

.category__block:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.category__title {
  color: white;
  font-size: 1.2em;
  line-height: 1;
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .category__title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 330px) {
  .category__title {
    font-size: 0.7rem;
  }
}

.category__sticker {
  background-image: url(/images/category/stickers.jpg);
  background-size: cover;
  background-position: center center;
  grid-area: span 3 / span 2;
}

.category__bags {
  background-image: url(/images/category/bags.jpg);
  background-size: cover;
  background-position: center center;
  grid-area: span 3 / span 1;
}

.category__cards {
  background-image: url(/images/category/cards.jpg);
  background-size: cover;
  background-position: center center;
  grid-area: span 1 / span 1;
}

.category__boxs {
  background-image: url(/images/category/boxs.jpg);
  background-size: cover;
  background-position: center center;
  grid-area: span 1 / span 1;
}

.category__stocks {
  background-image: url(/images/category/stocks.jpg);
  background-size: cover;
  background-position: center center;
  grid-area: span 1 / span 1;
}

.category__telescope {
  background-image: url(/images/category/telescope.jpg);
  background-size: cover;
  background-position: center 24%;
  grid-area: span 1 / span 1;
}
.category__microscope {
  background-image: url(/images/category/microscope.jpg);
  background-size: cover;
  background-position: center center;
  grid-area: span 1 / span 1;
}
.category__sales {
  background-image: url(/images/category/sales.jpg);
  background-size: cover;
  background-position: center center;
  grid-area: span 1 / span 1;
}

@media screen and (max-width: 800px) {
  .category__sticker,
  .category__bags,
  .category__cards,
  .category__boxs,
  .category__stocks,
  .category__telescope {
    grid-area: span 1 / span 1;
  }
}

.page__collections {
  padding: 0 0;
  margin: 0;
  display: none;
}

.collections__card {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  height: 100%;
  max-height: 300px;
  min-height: 300px;
  background: #f5f5f5;
  border-radius: 7px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.collections__card:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}

.collections__card__name {
  font-size: 1.5em;
  font-weight: 400;
}

.collections__card__icon {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
}

.collections__card__name + .collections__card__icon {
  margin-top: 50px;
}

.page__popular {
  width: 100%;
  height: 100%;
  margin: 2em 0;
  margin-bottom: 3em;
}

.popular-item {
  width: 100%;
  height: 100%;
  max-width: 300px;
  min-width: 300px;
  padding-bottom: 3px;
  position: relative;
}

.main__production {
  width: 100%;
  height: 60vh;
  background: black;
  position: relative;
  padding: 0 0;
  color: white;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 800px) {
  .main__production {
    place-items: top;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.main__production > video {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  filter: blur(10px) brightness(0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.production__article {
  position: relative;
  max-width: 50vw;
  line-height: 1.5rem;
}
@media screen and (max-width: 800px) {
  .production__article {
    max-width: 100vw;
    padding: 0 1rem;
  }
}
.production__title {
  margin-bottom: 1rem;
  text-align: left;
}
@media screen and (max-width: 800px) {
  .production__title {
    line-height: 2rem;
  }
}

.main__about {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .main__about {
    flex-direction: column;
    height: 100vh;
  }
}

.about__image {
  border-radius: 50%;
  width: 100%;
  max-width: 230px;
  min-width: 200px;
  height: auto;
  align-self: center;
  justify-self: end;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about__text {
  width: 100%;
  max-width: 500px;
  height: auto;
  align-self: center;
  justify-self: start;
  font-size: 1.1em;
}

.about__image + .about__text {
  margin-left: 2em;
}

@media screen and (max-width: 800px) {
  .about__image + .about__text {
    margin-top: 2em;
    margin-left: 0;
    text-align: center;
  }
}
