.order__header {
    text-align: center;
}

.order__form {
    display: grid;
    grid-gap: 10px;
}

.fieldset {
    grid-template-columns: repeat(2, min-content);
    display: grid;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    gap: 10px 10px;
    padding: 30px;
}

.fieldset_individual>label {
    justify-self: right;
}

.order__submit {
    max-width: max-content;
    margin: auto;
}