.order__main {
    padding: 2rem 10vw;
    display: grid;
    place-items: center;
}

.order__form {
    display: grid;
    grid-gap: 1rem;
    width: 100%;
    min-width: 320px;
    max-width: 500px;
}

.order__form__legend {
    text-align: center;
}

.order__header {
    text-align: left;
    padding-bottom: 1rem;
}

.fieldset {
    display: grid;
    width: 100%;
    gap: 1rem;
    padding: 30px;
}

.fieldset-detail {
    display: initial;
}

.order__submit {
    max-width: max-content;
    margin: auto;
}