.footer {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: max-content;
  color: white;
  font-size: 0.7rem;
  padding: 1rem 1rem 0.5rem 1rem;
  /* column-gap: 5rem; */
}

@media screen and (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    font-size: 0.9rem;
  }
}

.footer a {
  color: inherit;
}
.logo--monochrome {
  position: relative;
}

@media screen and (max-width: 800px) {
  .footer__logo {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .list__wrapper {
    padding: 0;
  }
}

.list__node {
  list-style: none;
  color: white;
  margin-bottom: 0.6rem;
}

.list__node--title {
  margin-bottom: 1rem;
}
.list__node--title a {
  text-decoration: none;
}

.subfooter {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-area: 1 span/5 span;
  align-items: center;
  padding: 0 1rem;
  margin-top: 2rem;
}
@media screen and (max-width: 800px) {
  .subfooter {
    grid-area: 1 span;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    place-items: center;
    text-align: center;
  }
}
.vilfer__logo {
  position: relative;
  max-width: 50px;
}
.subfooter__сopyright {
  place-self: center;
}

.subfooter__vilfer {
  place-self: end;
}
@media screen and (max-width: 800px) {
  .subfooter__vilfer {
    place-self: initial;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .vilfer__logo {
    max-width: 100px;
  }
}
