.item__image {
    width: 100%;
}

.item__category {
    font-size: 0.8em;
    opacity: 0.5;
    display: block;
    width: 100%;
    margin: 5px 0;
}

.item__name {
    display: block;
    width: 100%;
    margin: 5px 0;
}

.item__price {
    display: block;
    width: 100%;
    margin: 5px 0;
}

.item__cart {
    width: 100%;
    background-color: white;
    border: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 8px;
    display: block;
    padding: 5px;
    outline: none;
    white-space: nowrap;
    margin-top: 0.5rem;
}

.item__cart:hover {
    background-color: #d3d3d3;
    transition: background-color 0.5s;
}

.item__cart:active {
    box-shadow: none;
}

.item__favorite {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    text-align: center;
    padding: 3px;
}