.item__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item__category {
  font-size: 0.8em;
  color: #9e9e9e;
  display: block;
  width: 100%;
  margin: 5px 0;
}

.item__name {
  display: block;
  width: 100%;
  margin: 5px 0;
}

.item__price {
  display: block;
  width: 100%;
  margin: 5px 0;
}

.item__cart {
  width: 100%;
  background-color: white;
  border: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  display: block;
  padding: 5px;
  outline: none;
  white-space: nowrap;
  margin-top: 0.5rem;
  color: black;
  transition: background-color 0.5s;
}

.item__cart:hover {
  background-color: #d3d3d3;
  transition: background-color 0.5s;
}

.item__cart:active {
  box-shadow: none;
}

.cart__add-success,
.cart__add-success:hover {
  background-color: #caffbf;
  transition: background-color 0.5s;
  box-shadow: none;
}
.item__link-zone {
  position: relative;
}

.item__favorite {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  text-align: center;
  padding: 3px;
  display: none;
}

.input {
  margin: 0;
  border: none;
  background-color: rgb(224, 224, 224);
  border-radius: 8px;
  opacity: 0.8;
  color: #212121;
  padding: 0.3em 0.5em;
  width: 100%;

  height: 2.5em;
}

.textarea {
  width: 100%;
  max-width: 100%;
  background-color: rgb(224, 224, 224);
  color: #212121;
  border: none;
  padding: 0.3em 0.5em;
  min-height: 5em;
  border-radius: 8px;
}

.button {
  width: 100%;
  background-color: white;
  border: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;
  display: block;
  padding: 0.5em 2em;
  outline: none;
  white-space: nowrap;
  margin-top: 0.5rem;
  transition: background-color 0.5s;
  color: black;
  font-weight: 500;
}

.button:hover {
  background-color: #d3d3d3;
  transition: background-color 0.5s;
}

.button:active {
  box-shadow: none;
}
.button--fixedsize {
  max-width: max-content;
  text-decoration: none;
  padding: 0.5em 2em;
  background: #00d2ff; /* fallback for old browsers */
  background: linear-gradient(39deg, #06b7d4, #1e67cc);
  background-size: 400% 400%;

  -webkit-animation: ButtonAnimation 45s ease infinite;
  -moz-animation: ButtonAnimation 45s ease infinite;
  -o-animation: ButtonAnimation 45s ease infinite;
  animation: ButtonAnimation 45s ease infinite;
  color: white;
}
@-webkit-keyframes ButtonAnimation {
  0% {
    background-position: 93% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 93% 0%;
  }
}
@-moz-keyframes ButtonAnimation {
  0% {
    background-position: 93% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 93% 0%;
  }
}
@-o-keyframes ButtonAnimation {
  0% {
    background-position: 93% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 93% 0%;
  }
}
@keyframes ButtonAnimation {
  0% {
    background-position: 93% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 93% 0%;
  }
}
.button--fixedsize:hover {
  opacity: 0.8;
}

.link--block {
  color: inherit;
  text-decoration: none;
}

.link--block:focus-visible {
  outline: none;
}

.link--block::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.link--block:focus-visible::before {
  outline: 5px solid deepskyblue;
  outline-offset: -5px;
}

.youtube {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1.8;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button[disabled="disabled"],
button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  background-color: #d3d3d3;
}

.text--warning {
  color: #a92d11;
}

.instagram-media {
  margin: auto !important;
  margin-top: 1rem !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.fixedCart {
  position: fixed;
  top: 70px;
  right: 50px;
  width: 50px;
  height: 50px;
  z-index: 9999;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3em;
  border-radius: 8px;
  transition: 0.5s;
}
.fixedCart:hover {
  opacity: 0.8;
  box-shadow: none;
}
.fixedCart--hiden {
  display: none;
  transition: 0.5s;
}
@media screen and (max-width: 800px) {
  .fixedCart {
    top: 60px;
    right: 10px;
    width: 60px;
    height: 60px;
  }
}

.fixedCart__overlay {
  position: relative;
}
.fixedCart__count {
  background: black;
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  display: grid;
  place-content: center;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}
