---
title: 404 Ничего не найдено
permalink: /404/
layout: main.njk
---
<main class="page__not_found">
    <section class="not_found__alert">
        <header class="not_found__header">
            <h1 class="not_found__title">404</h1>
            <h2 class="not_found__subtitle">Упс... Похоже, что здесь ничего нет</h2>
        </header>
        <p><a href="/">Вернуться на главную</a></p>
    </section>
</main>