---
title: Статьи
permalink: /blog/
layout: main.njk
---
<main class="page__blog">

    <header class="blog__header">
        <h1>Статьи</h1>
    </header>
    <ul class="blog__tags">
        <li class="blog__tag"><a class="link--block" href="">НАУКА</a></li>
        <li class="blog__tag"><a class="link--block" href="">КОСМОС</a></li>
        <li class="blog__tag"><a class="link--block" href="">ИНФОРМАТИКА</a></li>
    </ul>
    <section class="blog__grid">
        {% for post in collections.posts %}
        <article class="post">
            <picture>
                <source srcset="{{post.data.artwork_compressed}}" type="image/webp">
                <img class="post__artwork" src="{{post.data.artwork}}" alt="">
            </picture>
            <p class="post__category">НАУКА</p>
            <h2 class="post__title"><a class="link--block post__link" href="">{{post.data.title}}</a></h2>
            <p class="post__description">{{post.data.decription}}</p>
        </article>
        {% endfor%}
    </section>
</main>