---
title: Статьи
permalink: /blog/
layout: main.njk
---
<main class="page__blog">

    <header class="blog__header">
        <h1>Статьи</h1>
    </header>
    <section class="blog__grid">
        <article class="post">
            <picture>
                <img class="post__artwork" src="/images/slider/2.jpg" alt="">
            </picture>
            <p class="post__category">НАУКА</p>
            <h2 class="post__title"><a class="link--block post__link" href="">Эля самая лучшая!</a></h2>
            <p class="post__description">Это просто статья про то, что Эля просто самая лучшая и милая девочка!</p>
        </article>

        <article class="post">
            <picture>
                <img class="post__artwork" src="/images/slider/2.jpg" alt="">
            </picture>
            <p class="post__category">НАУКА</p>
            <h2 class="post__title"><a class="link--block post__link" href="">Эля самая лучшая!</a></h2>
            <p class="post__description">Это просто статья про то, что Эля просто самая лучшая и милая девочка!</p>
        </article>

        <article class="post">
            <picture>
                <img class="post__artwork" src="/images/slider/2.jpg" alt="">
            </picture>
            <p class="post__category">НАУКА</p>
            <h2 class="post__title"><a class="link--block post__link" href="">Эля самая лучшая!</a></h2>
            <p class="post__description">Это просто статья про то, что Эля просто самая лучшая и милая девочка!</p>
        </article>

        <article class="post">
            <picture>
                <img class="post__artwork" src="/images/slider/2.jpg" alt="">
            </picture>
            <p class="post__category">НАУКА</p>
            <h2 class="post__title"><a class="link--block post__link" href="">Эля самая лучшая!</a></h2>
            <p class="post__description">Это просто статья про то, что Эля просто самая лучшая и милая девочка!</p>
        </article>

        <article class="post">
            <picture>
                <img class="post__artwork" src="/images/slider/2.jpg" alt="">
            </picture>
            <p class="post__category">НАУКА</p>
            <h2 class="post__title"><a class="link--block post__link" href="">Эля самая лучшая!</a></h2>
            <p class="post__description">Это просто статья про то, что Эля просто самая лучшая и милая девочка!</p>
        </article>
    </section>
</main>