---
title: Конструктор боксов
permalink: /constructors/boxs/
layout: main.njk
---

<main class="page__constuctor">
  <header>
    <h1>Конструктор боксов</h1>
  </header>
  <form class="constuctor__body">
    <section class="constructor__step">
      <h2>Шаг 1</h2>
      <ul class="constructor__step__items">
        {% for item in collections.popular %} {% Cbox_element "books", item.data
        %} {% endfor %}
      </ul>
    </section>
    <section class="constructor__step">
      <h2>Шаг 2</h2>
      <div class="constructor__step__items">
        {% for item in collections.stickers %} {% Cbox_element "stickers",
        item.data %} {% endfor %}
      </div>
    </section>
    <section class="constructor__step">
      <h2>Шаг 3</h2>
      <div class="constructor__step__items">
        {% for item in collections.cards %} {% Cbox_element "cards", item.data
        %} {% endfor %}
      </div>
    </section>
    <section class="constructor__step">
      <h2>Шаг 4</h2>
      <div class="constructor__step__items">
        {% for item in collections.pins %} {% Cbox_element "pins", item.data %}
        {% endfor %}
      </div>
    </section>
    <section class="constructor__step">
      <h2>Шаг 5</h2>
      <div class="constructor__step__items">
        {% for item in collections.shopper %} {% Cbox_element "shopper",
        item.data %} {% endfor %}
      </div>
    </section>
    <section class="constructor__calculator">
      <div class="constructor__calculator__totalprice__area">
        Итого:&nbsp;
        <span class="constructor__calculator__totalprice__number"> 0</span
        >&nbsp;руб.
      </div>
      <div class="constructor__calculator__submit">
        <button
          class="
            button button--fixedsize
            constructor__calculator__submit__button
          "
          type="submit"
          disabled
        >
          Добавить в корзину
        </button>
        <p class="constructor__calculator__submit__annotation">
          Минимальная сумма заказа 600 руб.
        </p>
      </div>
    </section>
  </form>
</main>
