---
title: Корзина | НАУЧНЫЕ СТИКЕРЫ
permalink: /cart/
layout: main.njk
---
<main class="page__cart">
    <header>
        <h1>Корзина</h1>
    </header>
    <ul class="cart">

    </ul>
    <form class="cart__form">
        <fieldset class="fieldset-delivery">
            <legend>Способ доставки</legend>
            <div class="delivery__paste"></div>
        </fieldset>
        <p class="cart-total">Доставка: <span class="cart-delivey__price">12345</span> руб</p>
        <p class="cart-total">Итого: <span class="cart-total__price">12345</span> руб</p>
        <button type="submit" class="cart-checkout">Оформить заказ</button>
    </form>
</main>