---
title: Корзина | НАУЧНЫЕ СТИКЕРЫ
permalink: /cart/
layout: main.njk
---
<main class="page__cart">
    <ul class="cart">
        <li class="cart-element" data-id="str1">
            <img class="cart-element__image" src="/images/products/stickerpack_physics.jpg" alt="">
            <p class="cart-element__name">Стикерпарк "Физика"</p>
            <p class="cart-element__price">124Р</p>
            <button class="cart-element__delete">Удалить</button>
        </li>
    </ul>
    <p class="cart-total">Итого: <span class="cart-total__price">12345 руб</span></p>
    <button class="cart-checkout">Оформить заказ</button>
</main>