---
title: Корзина
permalink: /cart/
layout: main.njk
---

<main class="page__cart">
  <header class="cart__title">
    <h1>Корзина</h1>
  </header>
  <ul class="cart"></ul>
  <form class="cart__form">
    <p class="cart__delivery">
      Предварительная стоимость доставки:
      <span class="cart-delivey__price">12345 руб.</span>
    </p>
    <input class="promocode__input" type="text" placeholder="Промокод" />
    <button class="button promocode__button" type="button">Применить</button>
    <p class="promocode__info"></p>
    <p class="cart-total">
      Итого: <span class="cart-total__price"> </span> руб.
    </p>
    <button type="submit" class="cart-checkout button">Оформить заказ</button>
  </form>
</main>
