---
title: Каталог
permalink: /catalog/
layout: main.njk
---

<main class="page__main page__catalog">
  <header class="header catalog__header">
    <h1 class="page__title catalog__title">{{ title }}</h1>
  </header>
  <section class="swiper-container catalog__filter">
    <ul class="swiper-wrapper filter__list">
      {% for correct_category in category %}
      <li
        class="swiper-slide filter__list__node"
        onclick="document.querySelector('#{{correct_category.eng}}').scrollIntoView({behavior:'smooth',block:'start'});"
        style="background: {{ correct_category.color }};"  
      >
        {{ correct_category.ru }}
      </li>
      {% endfor%}
    </ul>
  </section>

  {% for correct_category in category %}
  <h2 id="{{ correct_category.eng }}">{{ correct_category.ru }}</h2>
  <section class="catalog">
    {% for item in collections[ correct_category.eng ] | sortByPriority | reverse %}
    <div class="catalog-item cart__item" data-id="{{ item.data.id }}">
      <div class="item__link-zone">
        <img
          width="500"
          height="500"
          loading="lazy"
          class="item__image cart__image"
          src="{{ item.data.artwork }}"
          alt="{{ item.data.title }}"
        />
        <span class="item__category cart__type">{{ item.data.category }}</span>
        <a class="link--block" href="{{ item.url }}"></a>
        <span class="item__name cart__name">
          {{ item.data.title }}
        </span>
        <span class="item__price cart__price">{{ item.data.price }} руб</span>
        <button class="item__favorite icon__favorite favorite__add"></button>
      </div>
      {% if item.data.isAddToCart %}
      <button class="item__cart cart__add">Добавить в корзину</button>
      {% else %}
      <button class="item__cart item__buy" onclick="BuyPopup()">Купить</button>
      {% endif %}
    </div>
    {% endfor %}
  </section>
  {% endfor %}
  <article class="fixedCart fixedCart--hiden">
    <div class="fixedCart__overlay">
    <img src="/images/icons/cart.svg" alt="">
    <div class="fixedCart__count">
      <span class="fixedCart__count__number"></span>
    </div>
    <a class="link--block" href="/cart/"></a>
    </div>
  </article>
</main>
<link
  href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.2/minimal/minimal.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script>
  function BuyPopup() {
    Swal.fire({
      title: "Заявка",
      text: "Данный товар пока нельзя заказать через наш сайт, но вы можете оставить заявку на его покупку",
      icon: "info",
      confirmButtonText: `Оставить заявку`,
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: "Заявка",
          text: "Оставьте ваш контактный номер телефона и наш менеджер обязательно c вами свяжется!",
          input: "tel",
          inputLabel: "Ваш номер телефона",
          inputPlaceholder: "+7xxxxxxxxxx",
          inputValidator: (value) => {
            if (!value || JSON.stringify(value).length - 2 < 12) {
              return "Вы ввели некорректный номер телефона";
            }
          },
          inputAttributes: {
            maxlength: 12,
            autocomplete: "on",
          },
        }).then((rst) => {
          fetch("/.netlify/functions/telegrambot", {
            method: "POST",
            headers: {
              "Content-Type": "application/json;charset=utf-8",
            },
            body: JSON.stringify({ tel: rst.value }),
          });
          Swal.fire({
            title: "Cпасибо за заявку!",
            text: "В течение дня с вами свяжется наш менеджер",
            confirmButtonText: "Готово",
          });
        });
      }
    });
  }
</script>
<script>
  window.addEventListener('scroll', ()=>{
    if (window.scrollY < 50) {
    document.querySelector(".fixedCart").classList.add("fixedCart--hiden");
    console.log("Hello world");
  } else {
    document.querySelector(".fixedCart").classList.remove("fixedCart--hiden");
    console.log("Hello world333");
  }
  })
</script>
