---
title: Совсем скоро!
permalink: /coming/
layout: main.njk
---
<main class="page__coming">
    <h1 class="coming__title">Совсем скоро здесь будет новый раздел сайта!</h1>
    <p class="coming_description">Чтобы ничего не пропустить, следи за нами в <a
            href="https://www.instagram.com/zerokelvin.ru">instagram!</a></p>
</main>