---
title: Главная страница
permalink: index.html
layout: main.njk
---

<header>
  <div class="page__block swiper-container swiper-banner">
    <div class="swiper-wrapper">
      {% for banner in banners %}
      <div class="swiper-slide">
        <picture>
          <source srcset="{{banner.img_compressed}}" type="image/webp" />
          <img
            width="720"
            height="210"
            class="slide-image"
            src="{{ banner.img }}"
          />
        </picture>
        <a class="link--block" href="{{ banner.link }}"></a>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</header>
<main class="page__main">
  <h2 class="main__title">Что посмотреть💜</h2>
  <section class="page__block category__grid">
    <div class="category__grid__element category__grid__element--long">
      <h3 class="category__grid__element__title">СТИКЕРЫ</h3>
      <picture>
        <img
          class="category__grid__element__img"
          src="/images/category/stickers.jpg"
          alt="Фотография стикеров на столе"
        />
      </picture>
      <a class="link--block" href="/catalog#stickers"></a>
    </div>
    <div class="category__grid__element">
      <h3 class="category__grid__element__title">БОКСЫ</h3>
      <picture>
        <img
          class="category__grid__element__img"
          src="/images/category/boxs.jpg"
          alt="Фотография бокса с наклейкой логотипа Ноль Кельвин"
        />
      </picture>
      <a class="link--block" href="/catalog#boxs"></a>
    </div>
    <div class="category__grid__element category__grid__element--tall">
      <h3 class="category__grid__element__title">АКСЕССУАРЫ</h3>
      <picture>
        <img
          class="category__grid__element__img"
          src="/images/category/bags.jpg"
          alt="Фотография Ани с шоппером"
        />
      </picture>
      <a class="link--block" href="/catalog#pins"></a>
    </div>
    <div class="category__grid__element">
      <h3 class="category__grid__element__title">ОПТИКА</h3>
      <picture>
        <img
          class="category__grid__element__img"
          src="/images/category/telescope.jpg"
          alt="Фотография стикеров на столе"
        />
      </picture>
      <a class="link--block" href="/catalog#telescope"></a>
    </div>
    <div class="category__grid__element category__grid__element--long">
      <h3 class="category__grid__element__title">ОТКРЫТКИ</h3>
      <picture>
        <img
          class="category__grid__element__img"
          src="/images/category/cards.jpg"
          alt="Фотография открытки с надписью открой космос"
        />
      </picture>
      <a class="link--block" href="/catalog#cards"></a>
    </div>
  </section>

  <!-- <h2 class="main__title">Коллекции</h2>

  <div
    class="page__block page__collections swiper-container swiper-collections"
  >
    <div class="swiper-wrapper">
      <article class="collections__card swiper-slide">
        <a href="" class="collections__card__name link--block">Физика</a>
        <div class="collections__card__icon icon__atom"></div>
      </article>

      <article class="collections__card swiper-slide">
        <a href="" class="collections__card__name link--block">Космос</a>
        <div class="collections__card__icon icon__atom"></div>
      </article>

      <article href="" class="collections__card swiper-slide">
        <a href="" class="collections__card__name link--block">Информатика</a>
        <div class="collections__card__icon icon__atom"></div>
      </article>

      <article class="collections__card swiper-slide">
        <a href="" class="collections__card__name link--block">Биология</a>
        <div class="collections__card__icon icon__atom"></div>
      </article>
    </div>
  </div> -->

  <h2 class="main__title">Ваш выбор💙</h2>
  <div class="page__block page__popular swiper-container swiper-popular">
    <div class="swiper-wrapper">
      {% for item in collections.popular %}
      <div
        class="popular-item cart__item swiper-slide"
        data-id="{{ item.data.id }}"
      >
        <div class="item__link-zone">
          <img
            width="500"
            height="500"
            class="item__image cart__image"
            src="{{ item.data.artwork }}"
            alt="{{ item.data.title }}"
          />

          <span class="item__category cart__type">
            {{ item.data.category }}
          </span>
          <a class="link--block" href="{{ item.url }}"></a>
          <span class="item__name cart__name">
            {{ item.data.title }}
          </span>
          <span class="item__price cart__price">{{ item.data.price }} руб</span>
          <button class="item__favorite icon__favorite favorite__add"></button>
        </div>
        {% if item.data.isAddToCart %}
        <button class="item__cart cart__add">Добавить в корзину</button>
        {% else %}
        <button class="item__cart item__buy">Купить</button>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <section class="page__block block__about">
    <img class="about__image" src="/images/indexAny.jpg" alt="" />
    <div class="about__information">
      <div class="about__title">ПОЗНАКОМИМСЯ?💙</div>
      <div class="about__text">
        Привет! Меня зовут Аня и я рада видеть тебя в научном сообществе Ноль
        Кельвин. Наш проект объединяет людей увлеченных наукой, космосом и
        технологиями! Мы любим науку и продвигаем ее вместе с вами!
      </div>
    </div>
    <div class="about__information">
      <div class="about__title">О МАГАЗИНЕ😍</div>
      <div class="about__text">
        У нас вы встретите уникальные товары научной тематики неописуемого
        качества. Каждый продукт сделан из лучших материалов и продуман до
        мелочей, чтобы продвигать науку было космически приятно🚀.
      </div>
    </div>
    <img class="about__image" src="/images/indexStickers.jpg" alt="" />
  </section>
</main>
