---
title: Успешная покупка
permalink: /success/
layout: main.njk
---

<main class="payment__page">
  <header>
    <h1 class="payment__title">{{ title }}</h1>
  </header>
  <section class="payment_detail">
    <article>
      <lottie-player
        class="success__img"
        src="https://assets10.lottiefiles.com/packages/lf20_vkfehgow.json"
        background="transparent"
        speed="1"
        style="width: 150px; height: 150px"
        hover
        autoplay
      >
      </lottie-player>
      <h2 class="payment__subtitle">
        Заказ #<span id="order_number">2345</span> успешно оплачен
      </h2>
      <p class="payment__text">
        В течение нескольких дней на указанный вами e-mail адрес мы отправим
        трек-номер для отслеживания вашего заказа!
      </p>
      <p class="payment__text-thanks">
        Спасибо за покупку! <br />Хорошего дня 💫
      </p>
    </article>
  </section>
</main>
<script src="/scripts/confetti.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    var count = 200;
    var defaults = {
      origin: {
        y: 0.7,
      },
    };

    function fire(particleRatio, opts) {
      confetti(
        Object.assign({}, defaults, opts, {
          particleCount: Math.floor(count * particleRatio),
        })
      );
    }

    fire(0.25, {
      spread: 26,
      startVelocity: 55,
    });
    fire(0.2, {
      spread: 60,
    });
    fire(0.35, {
      spread: 100,
      decay: 0.91,
      scalar: 0.8,
    });
    fire(0.1, {
      spread: 120,
      startVelocity: 25,
      decay: 0.92,
      scalar: 1.2,
    });
    fire(0.1, {
      spread: 120,
      startVelocity: 45,
    });
    document.getElementById("order_number").innerHTML = new URL(
      location.href
    ).searchParams.get("InvId");
  });
</script>
<script
  defer
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
></script>
