<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="title" content="Ноль Кельвин">
    <meta name="description"
        content="Ноль Кельвин — научный магазин, созданный для увлеченных наукой, технологиями, космосом. Идея нашего сообщества не только в продаже научного мерча. Мы рассказываем об учёных, интересных научных фактах, публикуем научные новости, популяризируем науку!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.zerokelvin.ru/">
    <meta property="og:title" content="Ноль Кельвин">
    <meta property="og:description"
        content="Ноль Кельвин — научный магазин, созданный для увлеченных наукой, технологиями, космосом. Идея нашего сообщества не только в продаже научного мерча. Мы рассказываем об учёных, интересных научных фактах, публикуем научные новости, популяризируем науку!">
    <meta property="og:image" content="/images/logo_1200x628.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.zerokelvin.ru/">
    <meta property="twitter:title" content="Ноль Кельвин">
    <meta property="twitter:description"
        content="Ноль Кельвин — научный магазин, созданный для увлеченных наукой, технологиями, космосом. Идея нашего сообщества не только в продаже научного мерча. Мы рассказываем об учёных, интересных научных фактах, публикуем научные новости, популяризируем науку!">
    <meta property="twitter:image" content="/images/logo_1200x628.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="preload" href="/fonts/subset-MazzardH-Regular.woff2" crossorigin as="font" type="font/woff2">
    <link rel="preload" href="/fonts/subset-MazzardH-SemiBold.woff2" crossorigin as="font" type="font/woff2">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="yandex-verification" content="d681d7cf7108de83" />
    <meta name="google-site-verification" content="435sl4TiYV9L75p7Dib4KwAV8WGGK7DJJ3sebBBqMqE" />
    {% if page.url == "/"%}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" crossorigin="anonymous"></script>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on('init', (user) => {
                if (!user) {
                    window.netlifyIdentity.on('login', () => {
                        document.location.href = '/admin/';
                    });
                }
            });
        }
    </script>
    {% endif %}
</head>

<body class="page">
    {% include 'nav.njk' %}
    {{ content | safe }}
    {% include 'footer.njk' %}
    <script src="/scripts/swiper-bundle.min.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/cart.js"></script>
    <script src="/scripts/imask.js"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" crossorigin="anonymous">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode
                .insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(82749661, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/82749661" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>

</html>