---
layout: main.njk
---
<main class="page__post">
    <header class="post__wrapper__header">
        <picture>
            <source srcset="{{artwork_compressed}}" type="image/webp">
            <img class="post__artwork" src="{{artwork}}" alt="">
        </picture>
        <h1 class="post__title">{{title}}</h1>
    </header>
    <section class="post__text">
        {{ content | safe }}
    </section>
</main>