---
layout: main.njk
---

<main class="page__product">
  <section class="product__card">
    <div class="product__grid">
      <section class="swiper-container product__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <img
                width="700"
                height="700"
                class="product__img"
                src="{{ artwork }}"
                alt="{{ title }}"
              />
            </div>
          </div>
          {% for img in images %}
          <div class="swiper-slide">
            <img class="product__img" src="{{ img }}" alt="{{ title }}" />
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </section>
      <section class="product__description">
        <div class="cart__item" data-id="{{ id }}">
          <img
            class="cart__image"
            src="{{ artwork }}"
            alt=""
            style="display: none"
          />
          <div class="product__category cart__type">{{ category }}</div>
          <h1 class="product__name cart__name">{{ title }}</h1>
          <div class="product__status">
            <img
              class="product__status__battery"
              src="/images/icons/battery-full.svg"
              alt="Полная батарейка"
              data-tippy-content="Много"
            />
          </div>
          {% if isSale %}
          <span
            class="item__price cart__price product__price"
            style="color: #ff7878"
            >{{ price }} руб.</span
          >
          {% else %}
          <span class="item__price cart__price product__price"
            >{{ price }} руб.</span
          >
          {% endif %} {% if isAddToCart %}
          <button class="item__cart cart__add button button--buy">
            Добавить в корзину
          </button>
          {% else %}
          <button
            class="item__cart item__buy button button--buy"
            onclick="BuyPopup()"
          >
            Купить
          </button>
          {% endif %}
        </div>
      </section>
      <section class="product__details">{{ content | safe }}</section>
    </div>
  </section>
  {% if collections[tags[1]] | length > 1 %}
  <section class="swiper-container product__likes">
    <h2>ТАКЖЕ ИЗ ЭТОЙ КАТЕГОРИИ</h2>
    <div class="swiper-wrapper">
      {% for item in collections[tags[1]] %} {% cart_element item, "likes__item
      swiper-slide" %} {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </section>
  {% endif%}
</main>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<link
  href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@5.0.2/minimal/minimal.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script>
  tippy("[data-tippy-content]");
</script>
<script>
  function BuyPopup() {
    Swal.fire({
      title: "Заявка",
      text: "Данный товар пока нельзя заказать через наш сайт, но вы можете оставить заявку на его покупку",
      icon: "info",
      confirmButtonText: `Оставить заявку`,
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: "Заявка",
          text: "Оставьте ваш контактный номер телефона и наш менеджер обязательно c вами свяжется!",
          input: "tel",
          inputLabel: "Ваш номер телефона",
          inputPlaceholder: "+7xxxxxxxxxx",
          inputValidator: (value) => {
            if (!value || JSON.stringify(value).length - 2 < 12) {
              return "Вы ввели некорректный номер телефона";
            }
          },
          inputAttributes: {
            maxlength: 12,
            autocomplete: "on",
          },
        }).then((rst) => {
          fetch("/.netlify/functions/telegrambot", {
            method: "POST",
            headers: {
              "Content-Type": "application/json;charset=utf-8",
            },
            body: JSON.stringify({ tel: rst.value }),
          });
          Swal.fire({
            title: "Cпасибо за заявку!",
            text: "В течение дня с вами свяжется наш менеджер",
            confirmButtonText: "Готово",
          });
        });
      }
    });
  }
</script>
