---
layout: main.njk
---

<main class="page--product">
  <div class="swiper-container product__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="swiper-zoom-container">
          <img class="product__img" src="{{ artwork }}" alt="{{ title }}" />
        </div>
      </div>
      {% for img in images %}
      <div class="swiper-slide">
        <img class="product__img" src="{{ img }}" alt="{{ title }}" />
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <section class="product__description cart__item" data-id="{{ id }}">
    <img class="cart__image" src="{{ artwork }}" alt="" style="display: none" />
    <span class="item__category cart__type">{{ category }}</span>
    <h1 class="product__name item__name cart__name">
      {{ title }}
    </h1>
    <img
      class="item__status"
      src="/images/icons/battery-full.svg"
      alt="Полная батарейка"
      data-tippy-content="Много"
    />
    <span class="item__price cart__price">{{ price }} руб.</span>
    <button class="item__cart cart__add">Добавить в корзину</button>
    <section class="product__details--short">
      {{ content | safe }}
    </section>
  </section>
  {% if features %}
  <section class="product__details">{{ features }}</section>
  {% endif%}
</main>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  tippy("[data-tippy-content]");
</script>
