---
layout: main.njk
---

<main class="page-information__main">
    <div class="wrapper">
        <header>
            <h1>{{title}}</h1>
        </header>
        {{ content | safe }}
    </div>
</main>